<% layout("/layouts/boilerplate") -%>
<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create new</button>
    </form> -->
    <ol>
        <%for(let data of datas){ %>
            
            <li><a href="/listings/<%= data._id %>">title : <%= data.title %></a></li>


            <% } %>
    </ol>
</body>

