<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br><br>
                <h3>Create a New Listing</h3>
                <form method="POST" action="/listings" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">T I T L E</label>
                        <input name="listing[title]" id="title" placeholder="Enter title" type="text"
                            class="form-control" required />
                            <div class="valid-feedback">
                                Title looks good 
                            </div>
                            <div class="invalid-feedback">
                                Please write title
                            </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">D E S C R I P T I O N</label>
                        <textarea name="listing[description]" id="description" placeholder="Enter description"
                            class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                Please write a short description
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">I M A G E</label>
                        <input name="listing[image]" id="image" placeholder="Enter image URL/Link" type="text"
                            class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">P R I C E</label>
                        <input name="listing[price]" id="price" placeholder="Enter price" type="number"
                            class="form-control" required/>
                            <div class="invalid-feedback">
                                Please Enter the valid Price
                            </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="country" class="form-label">C O U N T R Y</label>
                            <input name="listing[country]" id="country" placeholder="Enter country Name" type="text"
                                class="form-control" required/>
                                <div class="invalid-feedback">
                                    Please enter valid country name
                                </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">L O C A T I O N</label>
                            <input name="listing[location]" id="location" placeholder="Enter location" type="text"
                                class="form-control" required/>
                                <div class="invalid-feedback">
                                    Please enter valid location
                                </div>
                        </div>
                    </div>
                    <button class="btn btn-dark">Add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>