<% layout("/layouts/boilerplate") -%>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        Title :<input name="listing[title]" placeholder="enter title" type="text" required/>
        <br /><br />
        Description :<textarea name="listing[description]" placeholder="enter description"></textarea>
        <br /><br />
        Image :<input name="listing[image]" placeholder="enter image URL/Link" type="text" />
        <br /><br />
        Price :<input name="listing[price]" placeholder="enter price" type="number" />
        <br /><br />
        Country :<input name="listing[country]" placeholder="enter country" type="text" />
        <br /><br />
        Location :<input name="listing[location]" placeholder="enter location" type="text" />
        <br /><br />
        <button>Add</button>
    </form>
</body>

