body {
    /* background-color: rgb(244, 236, 238) !important; */
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 4rem;
    background-color: #f6f3f3;

}

.fa-mountain-sun {
    color:rgb(91, 174, 238);
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;

}

.f-info-links,
.f-info-socials {
    width: 100%;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.f-info {
    text-align: center;
    height: 6rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
    margin-right: 10px;
}

.card-img-top {
    margin-top: 10px;
    border-radius: 1rem !important;
    width: 100% !important;
    height: 70% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    margin-top: 2rem !important;
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    text-align: center;
    opacity: 0.2;
    background-color: white;
}

.show-img {
    height: 40vh !important;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Unique class name: .custom-card */

.custom-card {
    width: 400px;
    /* Set a fixed width */
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
}

.custom-card .name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-card .review {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.custom-card .rating {
    font-size: 1.1em;
    color: #f39c12;
    /* Change color as needed */
}

#map {
    height: 300px;
    width: 90vh;
}