/* body{
    background-color: pink;
} */

.navbar{
    height: 4rem;
    background-color: white;
}

.fa-mountain-sun{
    color: rgb(14, 51, 14);
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}